button.google-oauth-logout {
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    max-width: 300px;
    cursor: pointer;
    border: 0;
    padding: 0 18px;
    text-align: left;
    width: 100%;
    -webkit-font-feature-settings: "liga" on;
    font-feature-settings: "liga" on;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0, 0, 0, 0.84) !important;
    fill: rgba(0, 0, 0, 0.84) !important;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
    font: inherit;
    outline: none;
}
button.google-oauth-logout .svgIcon {
    vertical-align: middle;
    fill: rgba(0, 0, 0, 0.54);
    padding-right: 4px;
    height: 37px;
    display: inline-block;
}