.data-table {
  overflow: auto;
}
.ant-table-spin-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-table table tr:nth-child(even) td {
  background-color: #e6f7ff;
}
.data-table table tr:hover td {
  background-color: #fff;
}
.data-table tr td,
.data-table tr th {
  word-break: unset;
}
@media only screen and (max-device-width: 480px) {
  .data-table {
    padding: 0px 5px;
  }
}
